
.navbar {
  background-color: #3498db;
  color: #1b1919; 
}

.navbar-brand {
  color: #181717;
}


.navbar-nav .nav-link {
  color: #111010;
}


.dropdown-menu {
  background-color: #3498db;
}


.dropdown-item {
  color: #161515; 
}


.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item.show .nav-link {
  background-color: #2c3e50;
}


.navbar-text {
  color: #0f0f0f; 
}
